* {

 margin: 0;
 padding: 0;
 
}


h1 {
  font-weight: bold;
  font-style: italic;
  font-size: 130px;
  padding-top: 140px;
  text-align: center;
}
p{
    font-size: medium;
}
  

#randomNumberDisplay {
  font-size: 100px;
  color: blue;
  text-align: center;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}

img{

   max-width: 400px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 50px;
   padding: 20px;
   border: 10px solid powderblue;
   background: blueviolet;
   border-radius: 20px;

}

.title{
    text-align: center;
    text-shadow: 0 5px 5px rgb(30, 16, 76);
    color: rgb(29, 24, 12);
}

body{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/23/Casino_slots2.jpg/1200px-Casino_slots2.jpg);
    background-size: cover;
}

